.container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: 100%;    
    overflow: hidden;
    border-bottom: 1px solid #b2b2b2;
    
}

.iconWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    min-width: 15px;
    min-height: 15px;

    margin-top: 3;
    color: black;
}

.icon {

}

.icon:hover {
    color: #444;
}

.headerWrapper {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #DDD;
}

.wrapper {
}