.wrapper {
    display: flex;
    flex-direction: column;

    background-color: gray;
    width: 100%;
    height: 100%;
}

.root {
    background-color: "white";
    min-height: 10px;
    height: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 10px;
    max-height: 10px;
}

.tabs {
    min-height: 10px;
    max-height: 10px;
}

.scrollbarWrapper {
    display: flex;
    flex-direction: column;
    background-color: gray;
    flex-grow: 1;
    height: 100%;
    margin-top:2px;

    
}


