.canvas_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1; 
}

.options_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}
