
.container {
    display:flex;
    background-color: #bcbcbc;
    width: 100%;
    justify-content: baseline;
}
.tab_container {
    display: flex;
    flex-direction: row;
    
    width: 5%;
    min-width: 20px;
    float: bottom;
    margin-left: 2.25%;
    border-radius: 0.75em;
}

.tab {
    cursor: pointer;
    float: bottom;
}