@import url("https://fonts.googleapis.com/css?family=Work+Sans"); 

.container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background-color: #222;
    min-height: auto;
    padding-bottom: 5%;
    
    
}

.grid {
    box-sizing: border-box;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "img" "txt" "txt" "img" "img" "txt";
    align-items: center; 
    margin-left: 10%;
    margin-right: 10%;
    
}

@media (min-width: 700px){
    .grid{
        box-sizing: border-box;
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 20px 20px;
        grid-template-areas: ". ." ". ." ". .";
        
        align-items: center; 
        margin-left: 10%;
        margin-right: 10%;
    }
}

.wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.item {
    box-sizing: border-box;
    width: 90%;
    background-color: #222;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.itemImageWrapper {
    display: flex;            /* new */
    align-items: center;      /* new */
    justify-content: center;  /* new */
    
}

.itemTitle {
    
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    transform: translateY(-50%);
}

.itemImage {
    background-color: blueviolet;
    display: block;
    width: 100%;
    height: auto;
    
}

.itemText {
    font-family: 'Work Sans', sans-serif;
}

.itemTextWrapper {
    color: white;
    display: flex;   
    flex-direction: column;         /* new */
    align-items: center;      /* new */
    justify-content: center;  /* new */
    text-align: center;
}

.title {
    font-family: 'Work Sans', sans-serif;
    font-size: 60px;
    font-weight: 700;

    margin-top: 2%;
    margin-bottom: 2%;
    color: #eee;
}