.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 0;
    margin: 0;
    height: 5vh;
    min-height: 40px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid gray;
}


.buttonWrapper {
    display: flex;
    margin-right: 4%;
   align-items: center;
   justify-content: center;
}

.button:hover {
    color: #888 !important;
}

.button {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    border-radius: 0.2em;
    height: 25px;

    transition: 0.10s;
    text-align: center;
    margin: 0;

    font-weight: bold;
}
   

.text {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.4em;
    text-transform: uppercase;
    font-size: 0.875rem;
    min-width: 200px !important;

    border:none;
    outline:none;
    color:inherit;
    -webkit-tap-highlight-color: white;
}

.user_group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navgroup {
    display: flex;
    flex-direction: row;
}

.logo {
   height: 100%;
   width: 100%; 
   color: #f67600;
   user-select: none;
   cursor: pointer;
   margin-left: 70px;
   margin-top: 5px;
}

.header .logo .logolink  {
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    height: 100%;
    letter-spacing: -2px;
    margin: 0;

}
.link {
    border:none;
    outline:none;
    text-decoration:none;
    color:inherit;
    -webkit-tap-highlight-color: white;
}

