
@import url("https://fonts.googleapis.com/css?family=Work+Sans"); 
.subtitle {
    font-weight: 1000;   
    opacity: 0.7; 
    margin: 0;
}

.wrapper {
    box-sizing: border-box;
    margin-top: 5%;
    width: 100%;
    height: 95vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}



.buttonWrapper {
    display: flex;
    margin-top: 50px;
}

.button:hover {
    background-color: #0069d9 !important;
    border-color: #0062cc !important;
}

.button:active{
    box-shadow: none !important;
    background-color: #0062cc !important;
    border-color: #005cbf !important;
}
.button {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    border-radius: 0.2em;
    height: 35px;
}
   
.description {
    color: #f67600;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    line-height: 1.25;
    opacity: 0.8;
    font-size: 60px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}

.section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    height: 100%;
}