



.container {
    background-color: #1A2C2E;
    background-image: url("./vintage.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 95%;
    overflow-y: scroll;
    transition: 0.15s;
}