*,
*::before,
**::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  left:0;
  display: flex;
  flex-direction: row; 
}

  .wrapper .content_wrapper {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
  }
    .wrapper .content_wrapper .content_header {
      background-color: teal;
      height: 2%;
      width: 100%; 
    }
    .wrapper .content_wrapper .content_footer {
      align-self: flex-end;
      background-color: teal;
      height: 12%;
      width: 100%; 
    }
