*,
*::before,
**::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  overflow: hidden; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  display: none;
  margin: 0;
}

.sidepanel {
  width: 4px;
  height: 100%;
  background-color: #434343;
}

.middlewrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.header {
  position: relative;
  top: 0;
  margin: 0;
  height: 2vh;
  width: 100%;
  overflow: hidden;
  background-color: #888888;
}

.footer {
  position: absolute;
  bottom: 0;
  min-height: 12px;
  width: 100%;
  height: 12px;
  z-index: 100;
  background-color: #e2e2e2;
}

.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  left:0;
  display: flex;
  flex-direction: column; 
}

.canvas {
  display: table;
  margin: 0 auto;
  text-align: center;
}

.wrapper .content_wrapper {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  background-color: #f1f1f1;
}

.wrapper .content_wrapper .content_header {
  background-color: teal;
  height: 2%;
  width: 100%; 
}

.wrapper .content_wrapper .content_footer {
  align-self: flex-end;
  background-color: teal;
  height: 22%;
  width: 100%; 
  margin-bottom: 0px;
}
