
@import url('https://fonts.googleapis.com/css?family=Montserrat');


.container {
    width: 100%;
    height: 100%;
    overflow: scroll;

    background-color: #aaa;
    background-attachment: fixed;
    background-size: cover;
}


.socbutton:hover {
    filter: brightness(93%);
}


.button:hover {
    background-color: #0069d9 !important;
    border-color: #0062cc !important;
}

.button:active{
    box-shadow: none !important;
    background-color: #0062cc !important;
    border-color: #005cbf !important;
}
.button {
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    margin-top: 10px;
}

.input {
    margin-left: 30px !important;
    margin-right: 30px !important;
    margin-top: 0px !important;
}

.authButtonGroup {
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
    width: 85%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #222;
}

.subheader {
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
    width: 85%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #222;
    margin-top: 10%;
}

.spinnerWrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.titleWrapper {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.wrapper {
    background-color: #eee;
    border-radius: 0.2em;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
	-moz-box-shadow:    0px 10px 20px 0px rgba(50, 50, 50, 0.52);
	box-shadow:         0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    box-sizing: border-box;
    border: 1px solid #eee;
    width: 45%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;

    max-width: 550px;
}


.userEmailLogin {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}


.errorMessage {
    color: red;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.loginText {
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #666;
    align-items: center;
    margin: 6px;
    font-size: 14px;
    justify-content:center;
}


